html{
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
  font-family: Helvetica;
}
body {

}
header {
  height: 2.12rem;
  color: white;
  font-size: 1rem;
  font-family: Helvetica;
  background-color: black;

}
header img{
  margin-left: 0.5rem;
  height: 1.5rem;
  width: auto;
}
header span{
  margin: 0.66rem 0 0.66rem 1rem;
}

.banner {

  height: 25rem;
  max-height: 25rem;
  background-image: url("../images/moto.jpeg");


}

.banner-text {
  left: 4.5rem;
  top: 9rem;
  position: relative;
  width: 20rem;
  height: 9rem;
  background-color: black;
}
.banner-text span{
  color: white;

}
.banner-text h1{
  color: white;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}
#alt-menu{
  display: none;
  height: 2.5rem;
  background-color: firebrick;
  text-align: center;
  padding-top: 0.75rem;
}
#alt-menu a:link{
  color: white;
  text-decoration: none;
}
#alt-menu a:visited {
  color: white;
  text-decoration: none;
}
nav {
  height: 2.5rem;
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  padding-top: 0.75rem;
}
nav span a:link {
  color: white;
  text-decoration: none;
}
nav span a:visited {
  color: white;
  text-decoration: none;
}
#gadgets {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  justify-content: space-between;
}
.gadget-images{
  display: flex;
  justify-content: space-between;
}
.gadget-images img {
  height: 9rem;
  width: 9rem;
  border: 4px solid black;
  padding: 2rem;
}
.gadget-descriptions{
  display: flex;
  justify-content: space-between;
}
.gadget-descriptions span{
  text-align: center;
  width: 9.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2rem;
  background-color: black;
  color: white;
}
#info {
  padding-top: 3rem;

  display: flex;
  justify-content: space-between;
}
.info-display h2{
  padding-top: 1rem;
  width: 180px;
  text-align: center;
  height: 2rem;
  background-color: black;
  color: white;

}
footer {
  margin-top: 4rem;
  height: 3rem;
  color: white;
  background-color: black;
  padding-top: 2rem;

}
footer span{
}
@media screen and (max-width: 1024px) {
#alt-menu{
  display: block;
}
nav {
  display: none;
}
.glasses{
  display: none;
}
.banner-text h1{
font-size: 1.75rem;
}
.banner-text span{
  font-size: .75rem;
}
/* malfuntion code--
.gadget-images img {
  width: 47%;
  height: auto;
}*/
}
